@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font: normal 14px 'Montserrat', sans-serif;
}
.container{
    max-width: 800px;
    margin: auto;
}
h1{
    font-size: 28px;
    font-weight: bold;
}
#header{
    color: white;
    background: DarkSalmon;
    padding: 10px;
    text-align: center;
}

.form{
    background: ##FFFFF0;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
}
.form-group label{
    display: block;
}
.form-group input, .form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid LightSalmon;
    background: transparent;
    padding: 5px;
    margin-bottom: 15px;
    Outline: none;
    font-family: inherit;
}

.list{
    background: Linen;
    padding: 10px;
    font-size: 14px;
}
h3{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: LightSalmon;
    border-left: 10px solid IndianRed;
    padding: 5px;
    /* text-align: left; */
}
.table{
    background: PowderBlue;
    text-align: center;
}
.table th{
    background: SteelBlue;
    color: white;
    padding: 5px;
    border: none;
}
.table th:hover{
    background: Ivory;
    color: IndianRed;
}
/* .table td:nth-child(1){
    background: SteelBlue;
} */
.table td{
    padding: 2px;
}
.table td:hover{
    background: Ivory;
    color: IndianRed;
}
.table tr:nth-child(odd){
    background: rgb(144, 202, 211);
}

.btn{
    background: IndianRed;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    border-radius: 30px;
    /* font-family: inherit; */
}
.btn:hover{
    opacity: 0.5;
}
.btn:active{
    color: PowderBlue;
}
a{
    color: rgb(0, 132, 150);
    text-decoration: none;
}
a:hover{
    color:IndianRed;
}
/* a:visited{
    color: IndianRed;
} */
a:active{
    color: PowderBlue;
}

.box{
    display: flex;
    background: ##FFFFF0;
}
.box p{
    margin-left: 20px;
}
.pic{
    width: 300px;
    border-radius: 5px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    margin: 20px;
}
.icon{
    margin-left: 20px;
}

@media(max-width: 650px){
    .box{
        display: block;
        text-align: center;
    }
    h3{
        text-align: center;
    }
}
